In [80]:
import pandas as pd
import io
import itertools
from statsmodels.tsa.arima_model import ARIMA
import warnings
warnings.filterwarnings("ignore")
import sys


data_string = """
date,spare_parts
2017-09-01,1
2018-02-01,1
2018-10-01,1
"""

dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')



string_file = io.StringIO(data_string)

data = pd.read_csv(string_file, parse_dates=['date'], date_parser=dateparse)

In [81]:
data

        date  spare_parts
0 2017-09-01            1
1 2018-02-01            1
2 2018-10-01            1

In [82]:
data.index = data['date']
data.drop(columns='date', inplace=True)

In [83]:
data

            spare_parts
date
2017-09-01            1
2018-02-01            1
2018-10-01            1

In [84]:
type(data.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [85]:
data = data.reindex(index=pd.date_range('2017-06-01', '2018-12-01', freq='MS'), fill_value=0)

In [86]:

data_for_model = data.astype('float64')
r = range(5)

min_aic = sys.maxsize

for p, d, q in itertools.product(r, r, r):
    try:
        model_arima = ARIMA(data_for_model, order=(p, d, q))
        model_arima_fit = model_arima.fit()
        pred = model_arima_fit.forecast(steps=9)[0]
        print(p, d, q, pred, model_arima_fit.aic)
        if model_arima_fit.aic < min_aic:
            result = (p, d, q, pred, model_arima_fit.aic)
            min_aic = model_arima_fit.aic
    except:
        pass

0 0 0 [0.15789473 0.15789473 0.15789473 0.15789473 0.15789473 0.15789473
 0.15789473 0.15789473 0.15789473] 19.58380226070275
0 0 1 [0.19097739 0.16090225 0.16090225 0.16090225 0.16090225 0.16090225
 0.16090225 0.16090225 0.16090225] 17.963592170303862
0 0 2 [0.1831709  0.16463113 0.1604549  0.1604549  0.1604549  0.1604549
 0.1604549  0.1604549  0.1604549 ] 17.24660773375235
0 1 0 [0. 0. 0. 0. 0. 0. 0. 0. 0.] 35.30676599934224
0 1 1 [0.16666662 0.16666661 0.16666661 0.1666666  0.1666666  0.16666659
 0.16666659 0.16666658 0.16666658] 24.681251103749894
0 2 0 [0. 0. 0. 0. 0. 0. 0. 0. 0.] 53.215603164238
0 2 1 [-0.06191955 -0.13003106 -0.20433453 -0.28482995 -0.37151733 -0.46439666
 -0.56346794 -0.66873119 -0.78018639] 39.37685279424612
1 0 0 [0.19137064 0.15472156 0.16174016 0.16039604 0.16065345 0.16060416
 0.1606136  0.16061179 0.16061214] 20.851064056457425
1 1 0 [-6.44983493e-10 -9.83944827e-10 -1.46810300e-09 -1.88337033e-09
 -2.33132397e-09 -2.76376909e-09 -3.20357246e-09 -3.63988461e-09
 -4.07785321e-09] 32.39917404164669
1 1 1 [0.19412707 0.16538243 0.16963868 0.16900845 0.16910176 0.16908794
 0.16908998 0.16908967 0.16908971] 26.28722810370634
1 2 0 [-0.70977724 -0.98633206 -1.5937688  -2.02127766 -2.61033904 -3.13267057
 -3.74088083 -4.33294979 -4.97707863] 44.9891596370573
1 2 1 [-0.06922314 -0.11716791 -0.18471601 -0.2534002  -0.33156257 -0.41543479
 -0.50671912 -0.6046466  -0.70956458] 37.36558527328147
2 0 0 [0.2504016  0.1876131  0.14041    0.16803037 0.17297072 0.16478855
 0.16559831 0.16745214 0.16678373] 21.552851351496116
2 0 1 [0.14450673 0.18377201 0.17189008 0.15992681 0.15752057 0.15883131
 0.15979009 0.15991574 0.15978466] 18.966032341879796
2 1 0 [0.40331788 0.15453863 0.19161289 0.28418693 0.23063364 0.25440497
 0.28167518 0.27717362 0.29274378] 31.943301695697834
2 1 1 [0.23624652 0.18727467 0.14767928 0.16619914 0.17069779 0.1658655
 0.16591989 0.16692615 0.1667061 ] 27.471474640296428
2 1 2 [0.34292989 0.04638974 0.29191084 0.09533411 0.25457796 0.1287885
 0.23094013 0.15091924 0.21645984] 29.610759356953984
2 2 0 [ 0.0377413  -0.59457992 -0.62846316 -0.96401849 -1.39515357 -1.62484706
 -2.07378744 -2.47862435 -2.87167693] 42.07193532681421
2 2 1 [ 0.29905279  0.07052973  0.06935605  0.09100813  0.01535388 -0.0139567
 -0.04812691 -0.10224001 -0.14982157] 37.72600812466221
3 0 0 [-0.00227088  0.33520888  0.22308752  0.1482063   0.09720855  0.17712609
  0.19270705  0.17787291  0.15070096] 21.668125978651915
3 0 1 [0.09650773 0.18147968 0.19689668 0.17650316 0.15547195 0.14903172
 0.15268382 0.15779019 0.15991508] 20.630484809448113
3 0 2 [-0.15550998  0.32273539  0.47124394  0.11030224 -0.14932209  0.15025398
  0.46056014  0.25320901 -0.09491778] 23.06017026123
3 1 0 [0.26497672 0.41561147 0.15579168 0.19580699 0.28233151 0.29551875
 0.23589776 0.26107379 0.2878388 ] 32.47194383099593
3 1 1 [-0.07457412  0.26957103  0.18085959  0.11988794  0.04511737  0.1083578
  0.12487364  0.11791382  0.08697266] 28.048067619759664
3 1 2 [-0.32312989  0.03640859  0.17690304  0.23137268  0.09201724 -0.00634633
 -0.02872031  0.0204263   0.05825502] 27.70456600663735
3 2 0 [ 0.12066576 -0.29002554 -0.4682261  -0.59182621 -0.90150094 -1.1540956
 -1.4025844  -1.72074871 -2.03709699] 43.58484620218208
3 2 1 [0.25614388 0.36152215 0.16325632 0.19347407 0.25405763 0.25675476
 0.22069049 0.23310515 0.24456132] 38.94107119416827
4 0 0 [-3.08118459e-04 -7.61725952e-04  4.41400131e-01  2.46806885e-01
  1.37937909e-01  7.68510764e-02  4.22955968e-02  2.18482072e-01
  2.31103191e-01] 21.12193991692523
4 0 1 [ 0.00311603 -0.01345789  0.5411208   0.15363647  0.14076754  0.07016668
  0.03174795  0.31455884  0.17840194] 22.58950094421919
4 0 2 [ 0.19667794 -0.01420002  0.28613112  0.14487199  0.18589255  0.16936961
  0.11928843  0.16638912  0.14126378] 23.978657944312673
4 0 3 [ 0.01328457 -0.04905796  0.586597    0.06080793  0.15217566  0.25556288
 -0.15687975  0.37293705  0.12195669] 20.42691939587099
4 1 0 [0.09992772 0.13254751 0.66819646 0.07319327 0.08324804 0.1603016
 0.19567293 0.47942507 0.12685299] 28.05828568739198
4 1 1 [-0.148949   -0.05890461  0.38554445  0.21062982  0.10382362 -0.03652049
 -0.05290845  0.12728723  0.15510159] 27.87327729379762
4 1 2 [-0.12027598 -0.07176005  0.48369517  0.11615031  0.11356716 -0.04125908
 -0.04434756  0.22380478  0.10697431] 29.326291110898836
4 2 1 [0.16891259 0.21755234 0.74455633 0.19382412 0.21530105 0.34679588
 0.40937317 0.69610914 0.40466572] 35.69948226247321

In [87]:
data_for_model

            spare_parts
2017-06-01          0.0
2017-07-01          0.0
2017-08-01          0.0
2017-09-01          1.0
2017-10-01          0.0
2017-11-01          0.0
2017-12-01          0.0
2018-01-01          0.0
2018-02-01          1.0
2018-03-01          0.0
2018-04-01          0.0
2018-05-01          0.0
2018-06-01          0.0
2018-07-01          0.0
2018-08-01          0.0
2018-09-01          0.0
2018-10-01          1.0
2018-11-01          0.0
2018-12-01          0.0

In [88]:
result

(0, 0, 2, array([0.1831709 , 0.16463113, 0.1604549 , 0.1604549 , 0.1604549 ,
        0.1604549 , 0.1604549 , 0.1604549 , 0.1604549 ]), 17.24660773375235)